@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row" style="height: 80vh;">
    <div class="col-sm-12 my-auto">
            <h1 class="text-danger">Error</h1>
            <h2 class="">Something went wrong while processing your request.</h2>

            <p>Return to home page <a class="text-secondary" asp-area="" asp-controller="Home" asp-action="Index">here</a></p>
        


    </div>
</div>
