﻿@{
    ViewData["Title"] = "Request Under Review";
}

<h1>Request Under Review</h1>
<p>Your request is currently being reviewed. You will be granted access once your request has been accepted.</p>
<a asp-controller="Home" asp-action="Index">Return to Home Page</a>