@model IEnumerable<Promote>

@{
    ViewData["Title"] = "Request List";

}

<h1>Promote Request Applications</h1>

<table class="table table-sm table-bordered table-bordered">
    <tr><th>User</th><th>Reason</th><th>Update</th><th>Approve</th></tr>
@foreach (Promote request in Model)
    {

    <tr>
        <td>@request.User.UserName</td>
            <td>@request.Reason</td>
            <td>
                <form asp-controller="Account" asp-action="RequestList" asp-route-id="@request.User.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-primary">
                        Approve
                    </button>
                </form>
            </td>
            <td>
                <form asp-controller="Account" asp-action="DeleteRequest" asp-route-id="@request.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>