@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Nemesys!</h1>
        <p class="lead">Nemesys is a web application for University of Malta students and staff to help keep the campus safe for everyone!</p>
        <hr class="my-4">
        <p>Start using Nemesys now.</p>
        <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register" role="button">Sign Up</a>
    </div>

    <div class="content">
        <h1 class="text-center">How does Nemesys work?</h1>
        <div class="card card-body col-sm-12 text-center">
            <h5 class="card-title">Register to become a reporter</h5>
            <p class="card-text">Create reports and upvote other reports that you believe deserve attention</p>
        </div>
        <div class="card card-body col-sm-12 text-center">
            <h5 class="card-title">Create a report on a potential hazard </h5>
            <p class="card-text">Our investigators will view the report and create an investigation </p>
        </div>
        <div class="card card-body col-sm-12 text-center">
            <h5 class="card-title">Our investigators will inspect the situation</h5>
            <p class="card-text">The investigators will inspect the situation and update the investigation report accordingly </p>
        </div>
    </div>
</div>
