@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Nemesys!</h1>
        <p class="lead">Nemesys is a web application for University of Malta students and staff to help keep the campus safe for everyone!</p>
        <hr class="my-4">
        <p>Start using Nemesys now.</p>
        <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register" role="button">Sign Up</a>
    </div>

    <div class="content">
        <h1 class="text-center">How does Nemesys work?</h1>
        <div class="card card-body col-sm-12 text-center">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card card-body col-sm-12 text-center">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card card-body col-sm-12 text-center">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
</div>
