@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Nemesys!</h1>
    <p class="lead">Nemesys is a web application for University of Malta students and staff to help keep the campus safe for everyone!</p>
    <hr class="my-4">
    <p>Start using Nemesys now.</p>
    <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register"role="button">Sign Up</a>
</div>