/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #35b031 !important;
    border-color: #35b031 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.logo {
    width: 70px;
    height: 70px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    font-family: 'Roboto', sans-serif !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.header-1, .header-2 {
    text-align: center !important;
}

/* Home Page */
.carousel_img {
    object-fit: cover;
    height: 30rem;
}

.carousel_style {
    margin: 3rem 0;
}

.carousel_text {
    background-color: #f2eee4;
    color: black;
    font-weight: bold;
    padding: .3rem;
}

/* Reports */
.reports {
    padding-bottom: 5rem;
    margin-left: 15px !important;
}

.like-image {
    height: 50px;
    width: 50px;
    
}

.like-button {
    background: none;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    display: block;
    float: right;
    padding-left: 14rem;
}

.like-button:hover {
    background: none;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.like-button:focus {
    outline: none;
}

.upvote {
    border: none;
    background: none;
    outline: none;
}

.upvote:focus {
    outline:none;
}

.card {
    width: 30rem;
    padding: 20px;
    margin: 20px;
}

.card-image {
    object-fit: cover;
    float: left;
    width: 10rem;
    height: 20rem;
}

.report-text {
    font-size: 18px;
}

.likes {
    margin: .4rem;
}

/* Home Page*/
.home-container {
    height: 100%;
    padding-bottom: 5rem;
}

.icon {
    font-size: 35px;
}

#home-jumbatron {
    background-color: #e3f5fc;
}

/* Details Page*/
select:focus {
    outline: none;
}

#option {
    padding: .4rem;
}

/* Hall of Fame */
.hall-of-fame-card {
    background-color: #8ff798;
}

.box {
    width: 35rem!important;
    height: 15rem!important;
}